* {
  align-items: center;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #222831;
}
.wrapper {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.app {
  width: 1200px;
  height: 100vh;
  display: flex;
  overflow: hidden;
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.card {
  overflow: hidden;
  background: #f2a365;
  border: 3px solid #ececec;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}
.cardBody {
  padding: 10px;
}
.card h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  opacity: 0.8;
  direction: ltr;
}
.card p {
  opacity: 0.7;
  line-height: 1.5;
  margin: 5px 0;
  direction: ltr;
}
.card a {
  position: relative;
  left: 0;
  text-decoration: none;
  margin: 10px 0;
  color: darkred;
  float: left;
}
.card a:hover {
  color: crimson;
}
.card:first-child {
  margin-right: 0px !important;
}
.card:last-child {
  margin-left: 0px !important;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev img,
.next img {
  width: 16px;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .app {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .app {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .app {
    width: 400px;
  }
}

.cWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navWrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
